# "service" is the name of this project. This will also be added to your AWS resource names.
service: exchange-rate

provider:
  name: aws
  runtime: nodejs24.x
  region: ap-southeast-1
  environment:
    BOT_TOKEN: ${ssm:/exchange-rate/BOT_TOKEN}
    CHAT_ID: ${ssm:/exchange-rate/CHAT_ID}
    OPEN_EXCHANGE_API_KEY: ${ssm:/exchange-rate/OPEN_EXCHANGE_API_KEY}

functions:
  # rateHandler:
  #   handler: handler.run
  #   events:
  #     - schedule: cron(30 6 ? * MON-FRI *)  # This runs at 6.30 AM UTC week days
  openRateHandler:
    handler: openRateHandler.run
    events:
      - schedule: cron(30 2 ? * MON-FRI *)  # This runs at 2.30 AM UTC week days
